*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.fom{
    background-color: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-top: 20px;
}
.main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}
.name {
    display: flex;
    gap: 10px;
}
.name div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name input{
    width: 200px;
    height: 30px;
}
.tt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tt input{
    width: 410px;
    height: 30px;
}
.tt div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    width: 410px;
    height: 30px;
    background-color: #0d6efd;
    border: 1px;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
}
::placeholder{
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: #0d6efd;
    font-weight: bold;
} 
p{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.806);
}  
.pu {
    display: flex;
    justify-content: space-between;
}