*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #ffffff;
    color: rgb(70, 70, 70);
    position: relative;
    position: fixed;
    width: 100%;
    height: 10%;
    align-content: center;
    flex-wrap: wrap;
}
.header h1{


}
.me {
    width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dau {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.header a{
    text-decoration: none;
    color: rgb(70, 70, 70);
    width: 200px;
    font-weight: bold;
}
.ss1 {
    background-color: #544fe8;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 100px;
}
.ss1 button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}
.m1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.m1 h1{
    font-size: 50px;
}
.deco{
   
    background-color: white;
    height: 100%;
    width: 100%;

}
.bo{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.box{
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: 200px;
}
.m2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    height: 100%;
    padding-bottom: 20px;
}
.fom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}
.fom input{
    width: 500px;
    height: 30px;

}
.fom button{
    width: 500px;
    height: 30px;
    background-color: #198754;
    color: white;
    border: 1px solid black;
    border-radius: 3px;

}  
footer{
    width: 100%;
    height: 50px;
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 678px){ 
    .fom input{
    width: 200px;
    height: 30px;

}
.dau {
    flex-direction: column;
    align-items: center;
}
.fom button{
    width: 200px;
    height: 30px;
    background-color: #198754;
    color: white;
    border: 1px solid black;
    border-radius: 3px;

} 
.header{
    position: relative;
    height: 300px;
}
.me {
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu{
    display: block;
    font-size: 30px;
    
}
.dau{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}
.m1 h1{
    font-size: 30px;
}
.ss1 {
    height: 200px;
    padding-top: 40px;
}
}

.header a:focus{
    background-color: #0066ff7f;
    padding: 10px;
    border-radius: 10px;
}