*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background-color: antiquewhite;
}
.card{
    width: 414px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba( 0 , 0 , 0 ,0.15);
    margin: 40px auto;
    background-color: white;
}
.box{
    width: 414px;
    height: 200px;
    background: linear-gradient(to right , #667EEA, #764BA2);
    position: relative;
}
.text{
    color: white;
    font-size: 16px;
    position: absolute;
    font-weight: 400;
    top: 10px;
    right: 20px;

}
.text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box2{
    margin-top: 10px;
    width: 382px;
    height: 26.59px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.container{
    height: 250px;
    width: 414px;
    background-color: white;
}
.box2 button{
    width: 67px;
    height: 20px;
    background-color: #F0F0FE;
    color: #6366F1;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    padding: 3px 5px;
}
.box2 h1{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.box3{
    margin-top: 10px;
    width: 382px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top:1px solid rgba(0, 0, 0, 0.362);
}
.box3 h1{
    font-size: 20px;
    color: #6366F1;
    font-weight: bold;

}
.box3 button{
    width: 96px;
    height: 31px;
    background-color: #0D6EFD;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    border: none;
}
.box h1{
    font-size: 100px;
    margin: 40px auto;
    text-align: center;
    color: white;
}
