*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    
}
.container{
    width: 1320px;
    height: 637.77px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    margin: 40px auto;
    gap: 20px;
}
button{
    width: 83px;
    height: 28px;
    background-color: #EAEBF9;
    border-radius: 6px;
    padding: 8px 16px;
    color: #6366F1;
    font-size: 10px;
    font-weight: bold;
    border: 0;
}
h1{
    font-size: item spacing/l;
    font-weight: bold;

}
h2{
    font-size: 15px;
    font-weight: 300;
    color: #939699;
}
.center{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.card{
    margin-top: 20px;
    width: 416px;
    height: 439.7699890136719px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: all 0.08s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border: 1px solid #8A8CF4;
}
h3{
    padding-top: 20px;
    font-size: 28px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 1px solid gray;
  width: 364px;
  height: 141px;
  
}

.amount {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #6366f1;
}

.per {
  margin-left: 8px;
  font-size: 24px;
  color: #9ca3af; 
}
.text{
    margin-top: 10px;
    
    display: flex;
    width: 364px;
    height: 25px;
    justify-content: left;
    font-size: 16px;
}

.btn{
    margin-top: 10px;
    width: 364px;
    height: 38px;
    border-radius: 6px;
    padding: 6px 12px;
    color: #4B92FE;
    border: 1px solid #4B92FE;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
}
.btn:hover{
    background-color: #6366F1;
    color: white;
}
@media screen and (max-width:768px) {
    .center{
        display: flex;
        flex-wrap: wrap;
    }
}

