* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

.disrow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    background-color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 1000;
}

.hea {
    width: 70%;
    justify-content: space-between;
}

.logo {
    width: 114px;
    height: 40px;
    justify-content: center;
}

.logo img {
    display: flex;
    width: 114px;
    height: 40px;
    justify-content: center;
}

.nav {
    justify-content: space-between;
    align-content: center;
}

.nav a {
    width: 90px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 20px;
    margin-top: 15px;
}

.but {
    gap: 10px;
    align-items: center;
}

.but button {

    width: 127px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #6366F1;
    font-weight: bold;
    cursor: pointer;
}

.log {
    background-color: white;
    color: #6366F1;
}

.reg {
    background-color: #6366F1;
    color: white;
}

main {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    background-color: #6366F1;
    justify-content: center;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

}

.ban {
    width: 70%;
    gap: 10%;

}

.ttl {
    width: 553px;
    justify-content: center;
    color: white;
    gap: 30px;
}

.ttl h1 {
    font-size: 50px;
}

.bu {
    justify-content: center;
}

.bu button {
    width: 190px;
    height: 60px;
    font-weight: bold;
    color: white;
    background-color: #6365f100;
    border: 1px solid white;
    border-radius: 15px;
}

.blo {
    width: 553px;

}

.bl {
    width: 400px;
    height: 180px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.378);
}

.bo div {
    width: 195px;
    height: 180px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.322);
}

.note {
    background-color: #F9FAFB;
    align-items: center;
    padding-bottom: 40px;
}

.not {
    width: 70%;
}

.not h1 {
    text-align: center;
    padding: 40px;
}

.no {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 230px;
    height: 330px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.361);

}

.box p {
    padding: 10px;
    text-align: center;
}

.menu {
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 40px;
}

.mol {
    flex-wrap: wrap;
    padding: 10%;
    gap: 30px;
}

.boc {
    background: white;
    width: 350px;
    height: 590px;
    border-radius: 15px;
    color: #6B7280;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.304);

}

.boc img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image span {
    position: absolute;
    top: 12px;
    right: 12px;

    background-color: #6c63ff;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;

    z-index: 10;
}

.boc h3,
.boc h2 {
    color: black;
    font-weight: bold;
}

.boc h2 {
    color: #6366F1;
}

.dk button {
    width: 127px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #6366F1;
    font-weight: bold;
    cursor: pointer;
    background-color: #6366F1;
    color: white;
}




























footer {
    background-color: #1F2937;
    color: #9CA3AF;
    display: flex;
    flex-direction: column;
}

footer h3 {
    color: white;
}

.fo {
    justify-content: center;
    gap: 5%;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.fo div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

lk p {
    display: flex;
    width: 30px;
}

.box:hover,
.boc:hover,
button:hover,
a:hover,
.bo div:hover,
.bl:hover {
    transform: translateY(-6px) scale(1.02);
}

@media (max-width: 1024px) {
    .ban {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .ttl p {}

    .ttl {
        padding-bottom: 20px;
    }

    .ban h1 {
        font-size: 40px;
    }

    .ban p {
        max-width: 100%;
    }

    .blo {
        width: 95%;
    }

    .bl {
        width: 100%;
    }

    .bo div {
        width: 50%;
    }

    .mol {
        width: 100%;
    }

    .boc {
        width: 220px;
        height: 650px;
    }

    .dk {
        width: 100px;

    }

    .dk button {
        width: 70px;
        height: 70px;
    }

    .fo {
        justify-content: space-evenly;

    }

    .fo div {}
}

@media (max-width: 768px) {
    .header {
        position: static;
        height: 300px;
        display: flex;
        align-items: center;
    }

    .hea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        display: flex;
        flex-direction: column;

    }

    .box {
        width: 100%;
    }

    .bu {
        flex-direction: column;
        align-items: center;
    }

    .boc {
        width: 100%;
        height: 550px;
    }

    .dk button {
        width: 300px;
        height: 50px;
    }

    .fo {
        text-align: center;
        flex-direction: column;
        align-items: center;

    }

}