.main{

    display: flex;
    flex-direction: row-reverse;
    background-color: tomato;
    height: 400px;
    justify-content: flex-end;
    justify-content: ;
    
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-end;
}
.item {
    background-color: green;
    width: 500px;
    height: 50px;
    border: 1px solid yellow;
}
/* .item1{
 flex: 1.5;
}
.item2 {
    flex: 1.5;
}
.item3{
 flex: 1;
}
.item4{
     flex: 1;
}
.item5 {
 flex: 1;

} */