*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: linear-gradient(90deg, #0d6efd, #0b5ed7);
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-around;
}
.header h1{
    color: white;
    font-weight: bold;
}
.header .search{
    width: 400px;
    height: 32px;
   
}
.header .search input{
    width: 100%;
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    
}
.header .search input::placeholder{
    color: grey;
    
}
.header nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.header .menu{
    display: none;
}
.main{
    background-color: #F4F7FC;
    padding: 0 100px 0 200px;
    display: flex;
    flex-direction: column;
}
.main .hero{
    margin: 30px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.15);
    border-radius: 12px;
}
.main .hero h2{
    font-weight: bold;
}
.main .hero .progress progress{
    height: 20px;
    width: 180px;
}
.main h3{
    color: #0D6EFD;
    font-weight: bold;
}
.main .center{
    display: flex;
    gap: 20px;
}
.main .container{
    margin-top: 20px;
    width: 616px;
    height: 288px;
    background-color: rgba(255, 255, 0, 0);
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.15);
}
.main .container:hover{
    transform: translateY(-6px);
}
.main .container img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.main  h4{
    margin-top: 10px;
    margin-left: 10px;
}
.main  p{
    margin-top: 5px;
    color: rgba(128, 128, 128, 0.852);
    margin-left: 10px;
}
.main  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main .container .btn{
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 8px;
    width: 95%;
    height: 38px;
    background-color: #0d6efd;
    border: none;
    

}
.main .card{
    width: 604px;
    height: 287px;
    background-color: rgba(255, 255, 0, 0);
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.15);
}
.main .card:hover{
    transform: translateY(-6px);
}
.main .card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.main .card .btn{
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 8px;
    width: 95%;
    height: 38px;
    background-color: #0d6efd;
    border: none;
    

}




/* RESPONSIVE */
@media screen and (max-width:768px) {
    .header{
        justify-content: space-between;
        padding: 15px;
    }
    .header .search{
        display: none;
    }
    .header nav{
        display: none;
    }
    .header .menu{
        display: block;
        color: white;
        font-size: 28.8px;
    }
    .main{
        padding: 0px 20px 0px 20px;
    }
    .main .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        text-align: center;
    }
    .main .center{
        display: flex;
        flex-wrap: wrap;
    }
    .main .container .btn{
       
        margin-left: 20px;
    }
    
}