*{
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;

}
.header {
width: 100%;
height: 600px;
position: relative;
}
.image img{
width: 100%;
height: 600px;
object-fit: cover;

filter: brightness(60%);
}
.text {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.ss1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
}
.box{
     width: 300px;
    height: 300px;
    position: relative;
    border-radius: 15px;
    margin: 20px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.259);
   
}
.type{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    gap: 15px;
}
.type p{
    margin-bottom: 15px;
    font-size: 17px;
}
.type h3{
    font-size: 28px;
}
.pic{
    width: 300px;
    height: 300px;
    object-fit: cover;
    filter: brightness(60%);
    border-radius: 15px;

}
.title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.title2 h2{
    font-size: 47.5px;
}
.inputt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.inputt input{
    width: 300px;
    height: 50px;  
    border-radius: 15px; 
    margin: 20px;
    border: none;
    text-align: center;
    padding: 3px;
}
button{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #8B0000;
    width: 300px;
    height: 50px;
    border: none;  
    border-radius: 25px; 
    margin: 20px;
    font-style: 20px;
}
footer{
    text-align: center;
    padding: 40px;
    background-color: #1E1E1E;
    color: white;
}