* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

.header {
    display: flex;
    height: 5%;
    width: 100%;
    padding: 1%;
    background-color: black;
    color: #D4AF37;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.header a {
    text-decoration: none;
    width: 50px;
    color: white;
    display: flex;
    font-size: 17.4px;
    margin: 10px;
  
}

.header div {

    display: flex;
    align-content: end;
    justify-content: flex-end;


}

.main {
    background-color: #f8f5f0;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main .box {
    width: 600px;
    height: 520px;
    background-color: white;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.296);
    text-align: center;
}

.main .box:hover,
.main2 div:hover{
    transform: scale(1.05);
}

.main h2 {
    font-weight: 700;
    font-size: 27.5;
    padding-top: 20px;
    padding-left: 20px;
    color: #000000;
}

.main p {
    padding: 20px;
    max-width: 550px;
    padding-bottom: 0%;
    font-size: 17px;
    font-weight: bold;
    color: #555555;
    
}
.image{
text-align: center;
padding: 20px;
}


.image img {
    width: 550px;
    height: 300px;
    object-fit: cover;
    
}

.foo {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content: center;
}

.foo p {
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}



.foo a {
    text-decoration: none;
    width: 50px;
    color: white;
    display: flex;
    font-size: 17.4px;
    margin-left: 10px;
}
.main2{
    background-color: #f8f5f0;
    display: flex;
    justify-content: center;
    height: 400px;
    align-content: space-evenly;
}
.main2 div{
    width: 1000px;
    height: 100px;

    align-items: center;
    background-color: white;
    border-radius: 15px;
}
.main2 p{
    max-width: 1000px;
}